<!doctype html>

<head>
    <title>Storage Server - Navigate</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/prism.css') }}">
    <meta charset="UTF-8">
</head>

<body>

<h2>Storage Server Browser &mdash; Navigate</h2>

<p>
  [ <a href='index.html'>Home</a>
  | <a href="search_mmif.html">Search MMIF files</a>
  | <a href="browse_paths.html">Browse paths</a>
  | <a href="analytics.html">Storage analytics</a>
  ]
</p>

<h4>{{ sdir.path_for_display() }}</h4>

{% set directories = sdir.directories() %}
{% set files = sdir.files() %}

{% if sdir.parameter_file %}
<p>Parameters</p>
<script src="{{ url_for('static', filename='js/prism.js') }}"></script>
<blockquote>
<pre><code class="language-json">{{ sdir.parameter_file.parameters }}</code></pre>
</blockquote>
{% endif %}

{% if directories %}
<p>Directories</p>
<!--<p>Directories (each reflecting a configuration of parameter settings)</p>-->
<ul>
{% for d in directories %}
<li><a href=browse_paths.html?path={{d}}>{{d.name}}</a></li>
{% endfor %}
</ul>
{% endif %}

{% if files %}
<p>MMIF Files</p>
<ul>
{% for f in files %}
<li><a href=view_mmif.html?&mode=parameters&path={{f}}>{{f.name}}</a></li>
{% endfor %}
</ul>
{% endif %}

</body>
</html>