<!doctype html>

<head>
    <title>Storage Server - Search MMIF Files</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/prism.css') }}">
</head>

<body>


<h2>Storage Server &mdash; Search MMIF Files</h2>

<p>
  [ <a href='index.html'>Home</a>
  | <a href="search_mmif.html">Search MMIF files</a>
  | <a href="browse_paths.html">Browse paths</a>
  | <a href="analytics.html">Storage analytics</a>
  ]
</p>

<p>The primary search is on the workflow, which is required. The optional GUID
(actually, a substring of a GUI) will constrain the search further. At the moment
there is no search on GUID only.</p>

<p>Example workflows:</p>

<blockquote>
<pre>{"swt-detection/v8.6": {}}</pre>
</blockquote>

<blockquote>
<pre>{"swt-detection/v8.6": {}, "smolvlm2-captioner/v1.0": {}}</pre>
</blockquote>

<blockquote>
<pre>{"swt-detection/v6.1": {"hwFetch": "true", "runningTime": "true", "useStitcher": "false"},
 "simple-timepoints-stitcher/v3.1": {"allowOverlap": "false", "labelMapPreset": "swt-v4-6way", "minTFDuration": "1000", "minTFScore": "0.01", "minTPScore": "0.001"} }</pre>
</blockquote>

<h4>Search</h4>

<blockquote>

<form method=post>
    <table cellpadding="8" cellspacing="0" border="1">
        <tr>
            <td>GUID</td>
            <td><input type="text" name="guid" size="80" value='{{guid}}'></td>
        </tr>
        <tr valign="top">
            <td>Workflow</td>
            <td>
                <textarea name="workflow" rows="10" cols="80">{{workflow}}</textarea>
            </td>
        </tr>
    </table>
    <p><input type="submit"></p>
</form>
</blockquote>

{% if status == 'no-workflow' %}

<h4>Error</h4>
<blockquote>
    <pre><code class="language-json">{{message}}</code></pre>
</blockquote>

{% elif status == 'workflow' %}

<h4>Pipeline path and files at path</h4>
<blockquote>
<table cellpadding="8" cellspacing="0" border="1">
    <tr>
        <td>Path</td>
        <td>{{path}}</td>
    </tr>
    <tr>
        <td valign="top">Files</td>
        <td>
            {% for mmif_file in mmif_files %}
            <a href="view_mmif.html?mode=parameters&path={{path}}/{{mmif_file}}.mmif">{{mmif_file}}</a><br/>
            {% endfor %}
        </td>
    </tr>
</table>
</blockquote>

{% elif status == 'workflow-guid' %}

<h4>Search result</h4>
<blockquote>
<table cellpadding="8" cellspacing="0" border="1">
    <tr>
        <td>Path</td>
        <td>{{path}}</td>
    </tr>
    <tr>
        <td>File</td>
        <td><a href="view_mmif.html?mode=parameters&path={{mmif_file}}.mmif">{{mmif_file.name}}</a></td>
    </tr>
</table>
</blockquote>

{% elif status == 'workflow-guid-no-files' %}

<h4>Search result</h4>
<blockquote>
<table cellpadding="8" cellspacing="0" border="1">
    <tr>
        <td>Path</td>
        <td>{{path}}</td>
    </tr>
</table>
<pre><code class="language-json">{{message}}</code></pre>
</blockquote>

{% endif %}

<script src="{{ url_for('static', filename='js/prism.js') }}"></script>

</body>

</html>